/* Home-Page CSS-Styling */
header
{
	background-color: black;
	width: auto;
	height: 100px;
	
}

header img
{
	padding-top:30px;
	
}

nav /* styling for side navigations */
{
  float: right;
  height: 1000px;
  top: 0; 
  font-style: none;
  list-style-type: none;
  background-color: #f5f3f4;
}

nav ul 
{
	padding-top: 100px;
	list-style-type: none;
}

nav li a
{
  padding: 5px 10px 15px 0px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
  font-family: arial;
}

nav a:hover /* when the navigation got hover-over it will change the colors */
{
  background-color: #c60710;
  opacity: 0.5;
  font-size: 20px;
  color: white;
}

nav div
{
	padding-top: 100px;
	padding-left: 8px;
}

nav .search-bar input[type=text] 
{
  float: left;
  padding: 8px;
  margin-top: 8px;
  font-size: 15px;
  border: none;
}

nav .search-bar button 
{
  float: left;
  padding: 6px;
  margin-top: 8px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

nav .search-bar button:hover 
{
  background: #62899b;
}

footer /* styling for footer */
{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

footer a 
{
	color: white;
}

/* Login-Page CSS-Styling */
.webpage 
{
	padding-top:100px;
}

.login-page,.login-page * 
{
    box-sizing: border-box;
    font-family: arial;
}
.login-page 
{
    max-width: 400px;
	height: 350px;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
	background-color: #c60710;
}

.logo-only 
{
    padding: 35px;
    background: #f5f3f4;
}

.login-page h1
{
	font-family: arial;
	float: left;
	margin-right: 10px;
	font-size: 20px;
	color: #c60710;
}

.login-page-content
{
	padding: 30px;
}

.login-page-input 
{
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #dddddd;
    background: #ffffff;
    outline: none;
    transition: border-color 0.5s;
}

.login-page-input:focus 
{
    border-color: black;
}

.login-page-input::placeholder 
{
    color: #aaaaaa;
}

.login-page-button-submit
{
	float: right;
	padding: 15px 25px 15px 25px;
	border-radius: 10px;
	margin-top: 10px;
	background-color: #2E8BC0;
	color: #ffffff;
	cursor: pointer;
	outline: none;
	border: none;
	font-weight: bold;
	margin-left:5px;
}

.login-page-button-register
{
	float: right;
	padding: 15px 25px 15px 25px;
	border-radius: 10px;
	margin-top: 10px;
	background-color: #939393;
	color: #ffffff;
	cursor: pointer;
	outline: none;
	border: none;
	font-weight: bold;
	margin-right:5px;
}

.login-page button:active 
{
    background: black;
}

.login-page-link
{
	margin-top: 15px;
}

.login-page-text 
{
    font-size: 0.9em;
    color: white;
    text-decoration: none;
}

/* Reset Password Page CSS Styling */
.forgetpassword-page,.forgetpassword-page* 
{
    box-sizing: border-box;
    font-family: arial;
}

.forgetpassword-page 
{
    max-width: 450px;
	height: 450px;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
	background-color: #c60710;
}

.forgetpassword-page h1
{
	font-family: arial;
	float: left;
	margin-right: 20px;
	font-size: 20px;
	color: #c60710;
}

.ForgetPassword-page-content
{
	padding: 30px;
	height: 100px;
	padding-left: 10px;
}


.ForgetPassword-page-content p 
{
	color: white; 
	font-family: Verdana;
	font-size: 15px;
}

.ForgetPassword-input 
{
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #dddddd;
    background: #ffffff;
    outline: none;
    transition: border-color 0.5s;
}

.ForgetPassword-input:focus 
{
    border-color: black;
}

.ForgetPassword-input::placeholder 
{
    color: #aaaaaa;
}

.ForgetPassword-button-reset
{
	float: right;
	padding: 15px 25px 15px 25px;
	border-radius: 10px;
	margin-top: 10px;
	background-color: #2E8BC0;
	color: #ffffff;
	cursor: pointer;
	outline: none;
	border: none;
	font-weight: bold;
	margin-left:5px;
}

.ForgetPassword-button-clear
{
	float: right;
	padding: 15px 25px 15px 25px;
	border-radius: 10px;
	margin-top: 10px;
	background-color: #939393;
	color: #ffffff;
	cursor: pointer;
	outline: none;
	border: none;
	font-weight: bold;
	margin-right:5px;
}

.forgetpassword-page button:active 
{
    background: black;
}

/* Registration Page CSS Styling */
.registration-page,.registration-page* 
{
    box-sizing: border-box;
    font-family: arial;
}

.registration-page 
{
    max-width: 450px;
	height: 530px;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
	background-color: #c60710;
}

.registration-page h1
{
	font-family: arial;
	float: left;
	margin-right: 15px;
	font-size: 20px;
	color: #c60710;
}

.registration-content
{
	padding: 30px;
	height: 100px;
	padding-left: 10px;
}


.registration-content p 
{
	color: white; 
	font-family: Verdana;
	font-size: 15px;
}

.registration-input 
{
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #dddddd;
    background: #ffffff;
    outline: none;
    transition: border-color 0.5s;
}

.registration-input:focus 
{
    border-color: black;
}

.ForgetPassword-input::placeholder 
{
    color: #aaaaaa;
}

.registration-button-register
{
	float: right;
	padding: 15px 25px 15px 25px;
	border-radius: 10px;
	margin-top: 10px;
	background-color: #2E8BC0;
	color: #ffffff;
	cursor: pointer;
	outline: none;
	border: none;
	font-weight: bold;
	margin-left:5px;
}

.registration-button-clear
{
	float: right;
	padding: 15px 25px 15px 25px;
	border-radius: 10px;
	margin-top: 10px;
	background-color: #939393;
	color: #ffffff;
	cursor: pointer;
	outline: none;
	border: none;
	font-weight: bold;
	margin-right:5px;
}

.registration-page button:active 
{
    background: black;
}
